{% extends 'base.html' %} 

{% block content %}

<main class="form-signin w-100 m-auto">
  <form method="post"> {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Account</h1>

    <div class="form-floating">
      <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email address" 
      value="{{account_form.initial.email}}">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Username" 
      value="{{account_form.initial.username}}">
      <label for="floatingUsername">Username</label>
    </div>

    {% for field in account_form %}
        <p>
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}
    {% if account_form.non_field_errors %}
        <div style="color: red;">
            <p>{{ account_form.non_field_errors }}</p>
        </div>
    {% endif %}

    {% if success_msg %}
        <p style="color: royalblue; text-align: center;">{{success_msg}}</p>
    {% endif %}
    <button class="btn btn-primary w-100 py-2" type="submit">Save changes</button>
  </form>
</main>

<div class="d-flex flex-column">  
 <a class="m-auto" href="{% url 'password_change' %}">Change password</a>
</div>

<div class="container mt-4 p-4">
  <div class="row">
    <div class="category-list col-8">
      <h3 class="mb-3 font-weight-normal">Categories:</h3>
      {% if category_list %}
      <ul>
          {% for category in category_list %}
            <a href="{% url 'event:detail-category' category.slug %}" style="text-decoration: none;">
              <li class="list-group-item">{{category}}</li>
            </a>
          {% endfor %}
      </ul>
      {% else %}
      <p>You have no created categories. Create a category <a href="{% url 'event:create-category' %}">here</a>.</p>
      {% endif %}
    </div>
    <div class="col-4">
      {% include 'account/snippets/upcoming_events.html' with event_list=upcoming_events %}
    </div>
    {% if recap_data %}
      {% include 'account/snippets/recap_events.html' with recap_data=recap_data %}
    {% endif %}
  </div>
</div>

{% endblock content %}