<!-- FILTERED Pagination -->
<div class="d-flex flex-column m-auto pagination mt-5">
<nav aria-label="Page navigation">
<ul class="pagination pg-grey justify-content-center">
	{% if event_list.has_previous %}
        <li class="page-item">
			<a class="page-link" href="?status={{ status_filter }}&page={{ event_list.previous_page_number }}">Previous</a>
		  <!-- <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ event_list.previous_page_number }}">&laquo; Previous</a> -->
		</li>
    {% endif %}

	{% for i in event_list.paginator.page_range %}
		{% if event_list.number == i %}
			<li class="page-item active"><a class="page-link">{{ i }}</a></li>
		{% else %}
			<li class="page-item" ><a class="page-link" href="?status={{ status_filter }}&page={{ i }}">{{ i }}</a></li>
			<!-- <li class="page-item" ><a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ i }}">{{ i }}</a></li> -->
		{% endif %}
	{% endfor %}
    
    {% if event_list.has_next %}
    	<li class="page-item">
		  <a class="page-link" href="?status={{ status_filter }}&page={{ event_list.next_page_number }}">Next</a>
		  <!-- <a class="page-link" href="?{% if query %}q={{query}}&{% endif %}page={{ event_list.next_page_number }}">Next</a> -->
		</li>
		<li class="page-item">
		  <a class="page-link"  href="?status={{ status_filter }}&page={{ event_list.paginator.num_pages }}">Last &raquo;</a>
		  <!-- <a class="page-link"  href="?{% if query %}q={{query}}&{% endif %}page={{ event_list.paginator.num_pages }}">Last &raquo;</a> -->
		</li>
    {% endif %}
</ul>
</nav>
</div>
<!-- end pagination-->